<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{106} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="rollingFile">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{106} - %msg%n</pattern>
    </encoder>
    <file>/tmp/logs/makeitfine.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/tmp/logs/makeitfine.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <!-- project default level -->
  <logger level="INFO" name="com.stingion.makeitfine">
    <appender-ref ref="rollingFile"/>
  </logger>

  <logger level="DEBUG" name="com.stingion.makeitfine">
    <appender-ref ref="console"/>
  </logger>

  <!--log4jdbc -->
  <logger level="INFO" name="jdbc.sqltiming"/>

  <root level="INFO">
    <appender-ref ref="console"/>
  </root>

  <root level="ERROR">
    <appender-ref ref="rollingFile"/>
  </root>

</configuration>