<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <!--<intercept-url pattern="/" access="permitAll" />-->
        <!--<intercept-url pattern="/admin**" access="hasRole('ADMIN')" />-->
        <!--<intercept-url pattern="/question/**" access="hasRole('ADMIN') or hasRole('USER')" />-->
        <intercept-url pattern="/" access="hasRole('ADMIN') or hasRole('USER')" />
        <form-login login-page="/login" username-parameter="ssoId" password-parameter="password"
                    authentication-failure-url="/Access_Denied" />
        <access-denied-handler error-page="/Access_Denied"/>
        <csrf/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service id="userDetailsService"
                          properties="classpath:spring-security-users.properties"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
