<?xml version="1.0" encoding="UTF-8"?>
<!--
    Created under not commercial project "Make it fine"

    Copyright 2017-2019
    @author stingion
-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

</beans>
